apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{.ProjectName}}
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
    - host: {{.ProjectName}}.example.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{.ProjectName}}
                port:
                  number: 80
