package main

import (
	"fmt"
	"log"
	"os"
	"os/signal"
	"syscall"
)

func main() {
	fmt.Println("Connector {{.FullName}} started")

	service := "{{.ProjectName}}"
	sigCh := make(chan os.Signal, 1)
	signal.Notify(sigCh, syscall.SIGINT, syscall.SIGTERM)

	go func() {
		for {
			// TODO: Implement third-party integration logic
			fmt.Printf("Connecting to %s\n", service)
		}
	}()

	sig := <-sigCh
	fmt.Printf("Received %s, shutting down...\n", sig)
}
