package service

// {{.ProjectName}}Service handles business logic.
type {{.ProjectName}}Service struct{}

// New creates a new {{.ProjectName}}Service.
func New() *{{.ProjectName}}Service {
	return &{{.ProjectName}}Service{}
}
