package main

import (
	"fmt"
	"log"
	"net/http"

	"{{.ModulePath}}/internal/handler"
)

func main() {
	http.HandleFunc("/", handler.Home)

	addr := ":8080"
	fmt.Printf("Starting %s on %s\n", "{{.FullName}}", addr)
	log.Fatal(http.ListenAndServe(addr, nil))
}
