# {{.FullName}}

{{.Description}}

## Installation

```bash
go install {{.ModulePath}}/cmd/{{.ProjectName}}@latest
```

## Usage

```bash
{{.ProjectName}} --help
{{.ProjectName}} version
```

## Author

{{.Author}}

## License

{{.License}}
